.main-content {
    background-color: #F1F1F1;
    text-align: center;  /* text-align sirve para centrar un texto, se complementa con el :center; */
    padding: 20px;  /* crea el recuadro, se le puede modificar los px para hacerlo mas grande o mas pequeño*/
    font-family: Arial, sans-serif;  /*sirve para añadirle un font a la letra */
}

.main-content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}